---
import Card from "../components/card.astro";
import Layout from '../layouts/layout.astro'
---

<Layout title ="servicios" description="los servicios de algo">
    <h1>Mis servicios</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
        dolore at illum voluptatibus id deserunt dignissimos atque soluta saepe
        aliquid consequatur minus, minima consequuntur accusamus accusantium
        eius excepturi harum mollitia?
    </p>

    <Card title="example" description="otro" />
    <Card title="dos" description="master" />
</Layout>
