---
import "../styles/layout.css";
const { title, description } = Astro.props;

let text_title = "";
if (title != undefined) {
	text_title = `| ${title}`;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>Astro {text_title}</title>
	</head>
	<body>
		<main class="mx-auto container md:p-10">
			<slot />
		</main>
	</body>
</html>
